body {
	background-image: url("img/bg.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.title {
	text-align: center;
}

.newIncident {
	display: none;
}

.navTabs li {
	display: inline-block;
}

.navTabs {
	position: relative;
}

.goRight {
	position: absolute;
	right: 0;
}

.incident.current {
	background-color: rgba(180,180,180,0.9);
}

.incident {
	cursor: pointer;
	background-color: rgba(255,255,255,0.9);
}

ul {
	list-style-type: none;
}

.incident-date {
	width: 15%;
}

.incident-date, .incident-main {
	display: inline-block;
	vertical-align: top;
}

.incident-title {
	font-size: 1.6em;
	font-weight: bold;
}

/*
* {
	border: 1px solid black;
	padding: 3px;
}
*/


.btn-supprimer {
	position: absolute;
	right: 15px;
	margin-top: 5px;
	background-color: pink;
}
